<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.donkingliang.imageselector">

    <application>
        <provider
            android:name="com.donkingliang.imageselector.provider.ImageSelectorProvider"
            android:authorities="${applicationId}.imageSelectorProvider"
            android:exported="false"
            android:grantUriPermissions="true">
            <meta-data
                android:name="android.support.FILE_PROVIDER_PATHS"
                android:resource="@xml/image_selector_file_paths" />
        </provider>
    </application>

</manifest>
